<table class="w-full text-left">
  <thead class="text-white border-b border-gray-500 bg-zinc-800">
    <tr class="justify-between">
      <th class="py-3 px-4 font-medium text-white">Título</th>
      <th class="py-3 px-4 font-medium text-white">Descrição</th>
      <th class="py-3 px-4 font-medium text-white">Status</th>
      <th class="py-3 px-4 font-medium text-white">Criado</th>
      <th class="py-3 px-4 font-medium text-white">Prazo</th>
      <th class="py-3 px-4 font-medium text-white w-36 flex-none justify-end">
        <button
          class="bg-green-500 hover:bg-green-700 cursor-pointer rounded-xl py-1.5 px-4 text-sm text-white items-center justify-center"
          aria-label="Adicionar uma tarefa"
          (click)="onAdd()"
        >
          + Adicionar
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let task of tasks"
      class="border-b bg-zinc-800 border-gray-500 text-white hover:bg-zinc-700"
    >
      <td class="py-3 px-4">{{ task.title }}</td>
      <td class="py-3 px-4">{{ task.description }}</td>
      <td class="py-3 px-4 flex items-center gap-2">
        {{ task.status }}
        <mat-icon
          aria-hidden="false"
          aria-label="Categoria do Curso"
          fontIcon="{{ task.status | status }}"
        ></mat-icon>
      </td>
      <td class="py-3 px-4">{{ task.createdOn | formatarDatas : "criado" }}</td>
      <td class="py-3 px-4">{{ task.deadline | formatarDatas : "prazo" }}</td>
      <td class="py-3 px-4">
        <div class="flex px-6 justify-end gap-2">
          <button
            class="text-green-500 hover:text-green-700 cursor-pointer mr-2"
            aria-label="Editar um curso"
          >
            <mat-icon (click)="onEdit(task)">edit</mat-icon>
          </button>
          <button
            class="text-red-500 hover:text-red-700 cursor-pointer"
            aria-label="Remover um curso"
          >
            <mat-icon (click)="onDelete(task)">delete</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
